In [9]:
import numpy as np
import pandas as pd

In [10]:
heart = pd.read_csv("heart_disease.csv")

In [11]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [12]:
heart.shape

(303, 14)

In [5]:
from sklearn.model_selection import train_test_split
heart_train, heart_test = train_test_split(heart, random_state = 1 , test_size = 0.25)

In [14]:
heart_test = heart_test.drop("target", axis=1)

In [15]:
heart_train.shape

(227, 14)

In [16]:
heart_test.shape

(76, 13)

In [18]:
heart_train.to_csv('heartdisease_train.csv', sep=',')
heart_test.to_csv('heartdisease_test.csv', sep=',')